* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: relative;
    height: 100vh;
    overflow: hidden; /* Ensure content does not overflow */
}

.image-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.image1 {
    background-image: url('images/color_out_lady.png');
    z-index: 1;
    opacity: 1; /* Fully visible by default */
}

.image2 {
    background-image: url('images/contrast_out_lady.png');
    z-index: 2;
    opacity: 0; /* Hidden by default */
}

.image3 {
    background-image: url('images/test_out_lady.png');
    z-index: 3;
    opacity: 0; /* Hidden by default */
}



header h1 {
    color: white;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.title-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('your_title_image2.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.title-image:hover::before {
    opacity: 1;
}

section {
    padding: 50px;
    background-color: #fff;
    margin-bottom: 20px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    width: 45%;
    height: auto;
    border-radius: 10px;
}

p {
    margin-top: 20px;
    font-size: 1.1rem;
    line-height: 1.6;
}
